.petDetailItem {
    text-transform: capitalize;
    text-align: left;
}

.petDetailCard {
    max-width: 300px;
    flex-grow: 1;
}

.petDetailCardValue {
    font-weight: bold;
}

.adpoted {
    color: red;
}
.available {
    color: green;
}
.pending {
    color: blue;
}
.unavailable {
    color: grey;
}

.petDetailCardHeader {
    font-weight: bold;
    background-color: rgb(199, 222, 230);
    text-align: left;
}